---

---
<nav>
    <ul class="nav">
      <li><a href="#home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
  

<style>

.nav {
    background-color: brown;
  height: 40px;
    justify-content: end;
  display:flex;
  list-style: none;
  padding-top: 10px;
  padding-right: 50px;
  margin: 0;
  width: 100%;
  gap: 20px; /* optional spacing */
  box-sizing: border-box; 
}

.nav li a {
  text-decoration: none;
  color: black;

}

</style>